body, html {
    display: flex;
    flex-direction: column;
    position: relative;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

main {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.s2, .s4, .s6, .s8{
    background-color: #eee;
}

section {
    display: flex;
    flex-direction: column;
    min-height: 50vh;
    padding: 1.75rem;
    justify-content: center;
}

.name {
    font-size: 2rem;
    font-weight: bolder;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 1em 0 1em 0;
}
.frase {
    font-size: 1rem;
    line-height: 1.50rem;
}
.frase em {
    color: rgb(60, 130, 211);
}

.title-sec {
    font-size: 1.25rem;
    font-weight: 400;
    padding-bottom: 1em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(45, 45, 45);
    margin: 1em 0 1em 0;
}

li {
    list-style: disc;
    line-height: 1.5rem;
    margin-left: 2rem;
}
.anchor {
    text-decoration: none;
    color: #ee5656
}

footer {
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}
footer p {
    font-size: 0.85rem;
    color: white;
}

